/*

DEVELOPER: ANNA GABRIELA CARVALHO
23/02/2017

---------------------------------

		COLOR PALETTE

GREEN 				#458969
LIGHT-YELLOW		#ffefae
ORANGE				#ffaf53
LIGHT-RED			#b6482f
DARK-RED 			#8e270e

---------------------------------

*/

@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:200');


* {font-family: 'Work Sans', sans-serif;}

a  {font-size: 14px;}

main {
	width: 100%;
	height: 100vh;
	background-image: url('../img/bg.png');
	display: flex;
	align-items: center;
}

/* TABS */
.tabs {
	width: 30%;
	margin: auto;
	padding: 20px;
	text-align: center;
}

.tabs > input {
	display: none;
}

.tabs  > input:not(:checked) + section > div {
	display: none;
}

.tabs > section > div {
	position : relative;
	z-index: 1;
	float: right;
	width         : 100%;
	margin        : 3.5em 0 0 -100%;
	border-radius: 15px;
	border-bottom: 15px solid #b6482f;
	background    : #fff;
	padding: 40px 0 0 0;
}

.tabs  > input:checked + section > div {
	display: inline;
	position: relative;
	z-index: 2;
}

.tabs  > input:checked + section > h1{
	background-color: white;
	color: #b6482f;
}

.tabs > section > h1,
.tabs  > input:checked + section > h1 {
	float: left;
	font-size: 20px;
	font-weight: 300;
	padding: 10px 17.3% 22px 17.3% ;
	border-bottom: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	cursor: pointer;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.tabs  > input:not(:checked) + section > h1 {
	background-color: #b6482f;
	color:white;
}

.tabs > input:not(:checked) + section > h1:hover {
	background-color: white;
	color:#b6482f;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

/* FORM STYLE */
i {
	color: black;
}

input {
	border: none;
	border-bottom: 1px solid black;
	padding: 15px 5px;
	margin-top: 10px;
}

[placeholder] {
	padding-bottom: 5px;
	font-weight: 200;
}

/* BUTTON */ 
button {
	margin: 5px 0 15px 0;
	padding: 10px;
	width: 50%;
	background-color: white;
	border: 2px solid #b6482f;
	color: #b6482f;
}

button:hover {
	background-color: #b6482f;	
	color: white;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

/* 'CONNECT WITH' AREA */
.social-icons img {
	width: 25px;
	display: inline-block;
	padding: 0 2px;
}